*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
background-image: linear-gradient(127deg,rgb(243, 165, 20) ,rgb(9, 9, 217));

}
.robotlogo{
    position: absolute;
    height: 300px;
    width: 300px;
    top: 9px;
    margin-left: 430px;
}

.hellow{
    height: 400px;
    width: 600px;
    background-color: rgb(248, 251, 250);
    border-radius: 10px 120px 10px 120px;
    margin: 16% auto;
    box-shadow: 12px 12px 15px rgb(4, 0, 0);

}
.head{
    padding-left: 80px;
    padding-top: 12%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.count{
    background-color: rgb(255, 72, 0);
    margin-left: 20px;
    border-radius: 1px 20px 1px 20px;
}
.btn{
    position: relative;
    display: flex;
    column-gap: 50px;
    padding-top: 22px;
    padding-left: 12%;
    padding-top: 22%;

}
button{
    width: 132px;
    height: 40px;
    font-size: 29px;
    font-weight: 600;
    cursor:pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover{
    box-shadow: 3px 3px 4px black;
}

.btn1{

    background-color: rgb(0, 174, 255);
    border-radius: 1px 20px 2px 20px;
}
.btn2{

    background-color: rgb(255, 38, 0);
    border-radius: 1px 20px 2px 20px;
}
.btn3{

    background-color: rgb(255, 145, 0);
    border-radius: 1px 20px 2px 20px;
}






